@use "../abstracts/" as *;

main {
  margin: 0 auto;
  width: 100%; // Ensure main container is 100% width
}

.intro-content {
  padding-top: rem(132);
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  width: 100%; // Ensure intro content takes full width

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 0;
    flex-wrap: wrap; // allow items to wrap within container
    overflow: hidden;

    @include breakpoint("medium") {
      flex-direction: row;
      justify-content: flex-start;
    }
  }

  &__flex-left {
    flex: 1;
    padding: 20px;

    @include breakpoint("medium") {
      flex: 2;
    }
  }

  &__flex-right {
    flex: 1;
  }

  &__overline {
    &--small {
      @extend %text-style-ui-5-caps;
      color: $color-indigo-dye;
      margin-bottom: rem(4);
    }

    &--regular {
      @extend %text-style-ui-4-caps;
      color: $color-persimmon-a11y;

      &::after {
        content: "";
        display: block;
        border-bottom: 2px solid $color-indigo-dye;
        width: 23px;
        height: 2px;
        margin: 0 auto;
        margin-top: rem(8);
      }
    }
  }

  &__title {
    margin-top: rem(12);
    margin-bottom: rem(48);

    @extend %text-style-heading-1;
    color: $color-indigo-dye;
    text-align: center;
  }

  &__introduction {
    margin-bottom: rem(16);
    @extend %text-style-paragraph-1;
    color: $color-persimmon-a11y;
  }

  &__more {
    &__icon-container {
      position: relative;
      margin-right: rem(4);
      top: rem(2);
    }
  }

  &__link {
    color: $color-lapis-lazuli-a11y;
    text-decoration: none;
    transition: $transition__link;

    &--more {
      border-bottom: 0px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      @extend %text-style-ui-3;
    }

    .intro-content__more__icon-container {
      fill: $color-persimmon-a11y;
      transition: $transition__link;
    }

    &:hover {
      color: $color-persimmon;

      .intro-content__more__icon-container {
        fill: $color-cerulean;
        transition: $transition__link;
      }
    }

    &:visited {
      color: $color-persimmon-a11y;
      text-decoration: none;
      border-bottom: none;

      .intro-content__more__icon-container {
        fill: $color-lapis-lazuli-a11y;
      }
    }

    &:focus {
      outline-color: $color-focus-outline;
      color: $color-persimmon;
      .intro-content__more__icon-container {
        fill: $color-lapis-lazuli-a11y;
      } 
    }
  }

  // Add the grid section
  &__grid {
    display: flex;
    flex-wrap: wrap;
    // grid-template-columns: repeat(3, 1fr); // 3 columns
    // grid-template-rows: repeat(2, 1fr); // 2 rows
    gap: rem(20); // Adjust the gap between grid items
    width: 100%; // Make sure the grid takes full width
    padding: rem(20); // Add padding if needed
    box-sizing: border-box; // Include padding in width calculation
    margin: 0 auto; // Center the grid container

    // Responsive behavior for smaller screens
    @include breakpoint("small") {
      flex-direction: column;
    }

    // Ensure correct behavior on medium and large screens
    @include breakpoint("medium") {
      flex-direction: row;
      justify-content: space-between;
    }

    // 3 columns for large screens
    @include breakpoint("large") {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  // Optional: Style individual grid items
  &__grid-item {
    display: flex; // Enable Flexbox on the grid item
    flex-direction: column; // Stack h1 and h2 vertically
    justify-content: center; // Center content vertically
    align-items: center; // Center content horizontally (optional, if you want horizontal centering as well)
    flex: 1 1 100%; // Default to full width on small screens
    max-width: 100%;
    font-family: $font-family-default;
    padding: rem(20);
    outline: 1px solid $color-indigo-dye;
    box-shadow: 0 rem(4) rem(8) rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    box-sizing: border-box;

    #biggest-investment-year {
      font-size: 120px;
    }

    h1, h2 {
      margin: 0;
    }

    h1 {
      font-size: 80px;
      word-wrap: break-word;
      color: $color-indigo-dye;
    }

    h2 {
      color: $color-persimmon;
    }

    // 2 columns for medium screens
    @include breakpoint("medium") {
      flex: 1 1 calc(50% - rem(20)); // Adjust to create 2 columns
      max-width: calc(50% - rem(20));
    }

    // 3 columns for large screens
    @include breakpoint("large") {
      flex: 1 1 calc(33.333% - rem(20)); // Adjust to create 3 columns
      max-width: calc(33.333% - rem(20));
    }
  }
}

.wrapper {
  // background: url(https://res.cloudinary.com/csisideaslab/image/upload/v1696427112/poni/PONI-Table-Header1-Temp_2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 40px);

  @include breakpoint("medium") {
    background-position: 60% 10%;
  }
}
