@use "../abstracts" as *;

.share {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;

  &__link {
    @include font-size(16px);
    padding: rem(8);
    color: $color-persimmon-a11y;
    transition: $transition__link;
    fill: $color-persimmon-a11y;

    &:hover {
      fill: $color-orange-crayola;
    }

    &:focus {
      outline: 3px solid $color-focus-outline;
    }
  }
}

.social {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;

  &__link {
    @include font-size(16px);
    padding: rem(8);
    color: $color-mid-orange;
    fill: $color-mid-orange;
    transition: $transition__link;

    &:hover {
      fill: $color-navajo-white;
    }

    &:focus {
      fill: $color-navajo-white;
      outline: 3px solid $color-focus-outline;
    }
  }
}
