@use "sass:color";

// Variables
/*Color palette: https://coolors.co/79b5bd-0476a0-045982-033b63-3f5560-e45400-fa6f2b-fda974-ffe2bd-edf3d9*/
$color-moonstone: rgba(121, 181, 189, 1); //#79B5BD
$color-cerulean: rgba(4, 118, 160, 1); //#0476A0
$color-lapis-lazuli: rgba(4, 89, 130, 1); //#045982
$color-indigo-dye: rgba(3, 59, 99, 1); //#033B63
$color-charcoal: rgba(63, 85, 96, 1); //#3F5560
$color-persimmon: rgba(228, 84, 0, 1); //#E45400
$color-orange-crayola: rgba(250, 111, 43, 1); //#FA6F2B
$color-sandy-brown: rgba(253, 169, 116, 1); //#FDA974
$color-navajo-white: rgba(255, 226, 189, 1); //#FFE2BD
$color-beige: rgba(237, 243, 217, 1); //#EDF3D9
$color-transparent: rgba(0, 0, 0, 0);

$color-lapis-lazuli-a11y: rgba(4, 85, 125, 1); //#04557D - a11y match for using with small $color-beige text
$color-persimmon-a11y: rgba(189,70,0); //#BD4600 - a11y match for using with $color-beige background or text. (darker option: #8C3300)
$color-charcoal-a11y: rgba(62, 83, 94,1); //#3E535E - a11y match for small text against $color-beige background
$color-mid-orange: rgba(251, 131, 71); //#FB8347 - AA small text a11y against indigo-dye background

$color-dark-yellow: #ffebb2; //#B68600
$color-light-yellow: #f4edd8; //#FFC72C f4edd8


/*----------  Colors we're still using from template ----------*/

$color-text-white: rgba(250, 250, 250, 1);
$color-text-main: rgba(51, 51, 51, 1);

$color-text-gray-200: rgba(126, 134, 148, 1);
$color-text-gray-300: rgba(70, 79, 96, 1);
$color-text-gray-400: rgba(43, 47, 56, 1);
$color-text-gray-500: rgba(23, 28, 38, 1);

$color-borders-gray-100: rgba(211, 212, 214, 1);
$color-borders-gray-300: rgba(177, 180, 185, 1);
$color-borders-gray-400: rgba(29, 31, 35, 1);

$color-background-white: rgba(255, 255, 255, 1);

$color-background-gray-100: rgba(248, 248, 248, 1);
$color-background-gray-200: rgba(240, 240, 240, 1);

$color-background-light-blue-100: rgba(239, 245, 248, 1);

$color-focus-outline: rgba(151, 200, 247, 0.68);
$color-brand-blue-600: rgba(20, 117, 220, 1);
$color-brand-blue-700: rgba(0, 84, 164, 1);
$color-brand-blue-800: rgba(1, 43, 105, 1);

/*----------  Fonts  ----------*/
$font__expo-serif-pro: "Expo Serif Pro", serif;
$font__source-sans-pro: "Source Sans 3", sans-serif;
$font__synthese: "Synthese", sans-serif;

$font-family-default: $font__source-sans-pro;
$font-family-heading: $font__synthese;
$font-size-default: 16px;
$font-weight-default: 400;
$font-weight-bold: 800;
$font-line-height-default: 1.15;

/*----------  Structure  ----------*/
$breakpoints: (
  "small": 37.5em, // 600px
  "medium": 50em, // 800px 
  "large": 90em, // 1440px
);

// Used to calculate font size in font-clamp mixin.
// TODO: check these values with Lindsay. where exactly they came from?
$container-min-width: 30rem;
$container-max-width: 87.5rem;
$container-width-diff: 57.5rem; // Difference in rems between small & large breakpoints

$size__container-max-width: 1600px;
$size__content-max-width: 680px;
$size__intro-content-wide-max-width: 1100px;
$size__page-max-width: 1200px;

/*----------  Transitions  ----------*/
$transition__link: all 0.2s ease-in-out;
